.whereToFindUs {
    background-image: url("/img/where-to-find-us/mobile/bg.webp");
    background-size: cover;
}

.whereToFindUs h1 {
    position: relative;
    top: 5%;
    left: 22%;
    line-height: 1.1em;
    font-size: 3em;
}

.whereToFindUs .bars {
    width: 87%;
    position: relative;
    top: 4%;
    left: 6%;
}

.whereToFindUs .bars img {
    max-width: 100%;
}

.whereToFindUs h2 {
    line-height: 1.1em;
    position: relative;
    top: 6%;
    left: 8%;
}

.whereToFindUs .logo {
    position: relative;
    left: 45%;
    bottom: 5%;
}

.whereToFindUs .logo img {
    width: 30%;
}

.whereToFindUs .logoPair {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 31%;
    bottom: 5%;
}

.whereToFindUs .logoPair img:last-child {
    margin-left: 3%;
}

.whereToFindUs .logoPair img {
    width: 30%;
}


@media (max-height: 780px) {
    .whereToFindUs h1 {
        font-size: 2em;
    }

    .whereToFindUs .bars {
        width: 82%;
        left: 7%;
    }
}

@media (max-height: 705px) {
    .whereToFindUs .bars {
        width: 80%;
    }

    .whereToFindUs .logoPair, .whereToFindUs h2 {
        font-size: 0.95em;
    }
}

@media (max-height: 690px) {
    .whereToFindUs .bars {
        width: 72%;
        left: 10%;
    }

    .whereToFindUs .logo, .whereToFindUs .logoPair {
        bottom: 3%;
    }
}
