@keyframes cta-scale {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.075);
    }
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.heading {
    color: #fff;
    margin: 0;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.cta-animation {
    animation: cta-scale 0.75s ease-in-out infinite;
    -webkit-animation: cta-scale 0.75s ease-in-out infinite;
    -moz-animation: cta-scale 0.75s ease-in-out infinite;
}

/*
    react-compare-image customization
*/
div[data-testid="container"] {
    width: 100vw !important;
    height: 100vh !important;
}

.intro div[data-testid="container"] div:nth-of-type(2) div:not(.icons, .compare-image-left-section) {
    top: 68% !important;
}

div[data-testid="container"] div:nth-of-type(2) div {
    background-color: transparent !important;
    opacity: 1 !important;
}

div[data-testid="container"] div:nth-of-type(3) div {
    opacity: 1 !important;
    text-align: left;
    background-color: transparent !important;
}


/*
    carousel customization
*/
.carousel .control-dots .dot {
    opacity: .2;
    box-shadow: none;
    background: #fff;
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    outline: none;
}

/*
    besteron
*/
.shop-iframe {
    background: rgba(255, 255, 255, 0.95);
    bottom: 0;
    display: block;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500000;
    -webkit-overflow-scrolling: touch;
}

.besteron-iframe {
    background-color: transparent;
    border: none;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    z-index: 12;
}
