.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.heading {
    color: #fff;
    margin: 0;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

/*
    react-compare-image customization
*/
div[data-testid="container"] {
    width: 100vw !important;
    height: 100vh !important;
}

div[data-testid="container"] div:nth-of-type(2) div {
    background-color: transparent !important;
    opacity: 1 !important;
    transform: translate(0, -5%) !important;
}

div[data-testid="container"] div:nth-of-type(3) div {
    opacity: 1 !important;
    text-align: left;
    background-color: transparent !important;
}


/*
    carousel customization
*/
.carousel .control-dots .dot {
    opacity: .2;
    box-shadow: none;
    background: #fff;
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    outline: none;
}
